<form action="/update-contact/{{contact.id}}" method="post">
    <input type="text" name="firstName" value="{{contact.firstName}}" required>
    <input type="text" name="lastName" value="{{contact.lastName}}" required>
    <input type="email" name="email" value="{{contact.email}}" required>
    <input type="text" name="phone" value="{{contact.phone}}" required>
    <input type="text" name="street" value="{{contact.addresses[0].street}}" required>
    <input type="text" name="city" value="{{contact.addresses[0].city}}" required>
    <input type="text" name="state" value="{{contact.addresses[0].state}}" required>
    <input type="text" name="zip" value="{{contact.addresses[0].zip}}" required>
    <button type="submit">Update Contact</button>
</form>